.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.input {
    border: 1px solid rgb(13,110,253);
    color: white;
}

.input:focus {
    border: 1px solid rgb(243, 233, 233)D;
    color: white;
}

.timer {
    text-align: center;
    color: white;
    font-size: 10rem;
    margin-bottom: 2rem;
}

.text {
    font-family: consolas;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: white;
}

.start {
    color: white;
}

.blue {
    color: rgb(13,110,253);
}